# Node.js
node_modules/
npm-debug.log*

# Logs
*.log

# macOS
.DS_Store

# VS Code
.vscode/

# Environment files
.env
.env.*

# Terraform
**/.terraform/
**/.terraform.lock.hcl
*.tfstate
*.tfstate.*
crash.log

# Terraform plan files
*.tfplan